# Global owner for the repository
* @thepetk @johnmcollier @gabemontero

# Lightspeed and Llama Stack owners
charts/rhdh/templates/lightspeed-postgres.yaml @maysunfaisal @Jdubrick @JslYoon @yangcao77
charts/rhdh/templates/llama-stack-config.yaml @maysunfaisal @Jdubrick @JslYoon @yangcao77
charts/rhdh/templates/rhdh-profile-config.yaml @maysunfaisal @Jdubrick @JslYoon @yangcao77
charts/rhdh/rhdh-profile.py @maysunfaisal @Jdubrick @JslYoon @yangcao77
