# Local configuration files
*.local.yaml
.resources/
*private-env
*cosign.pub
*argocd.yaml

# python files

__pycache__/
tests/.venv/
tests/.pytest_cache/
tests/node_modules/
tests/playwright-report/
tests/test-results/